* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

header {
    width: 100vw;
    height: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    position: sticky;
}

header .logo a {
    font-size: 1.2rem;
}

header .navigation_section {
    margin: 0 0 0 95%;
    position: relative;
}

header .navigation_section .main_nav {
    width: 150px;
    position: absolute;
    top: 0;
    margin-left: -125px;
    background-color: white;
    z-index: 999;
    padding: 20px;
    display: none;
}

header .navigation_section .main_nav ul {
    list-style-type: none;
    margin-top: -20px;
}

header .navigation_section .main_nav ul li:first-child {
    margin-left: 85%;
}

header .navigation_section .main_nav ul li a:not(first-of-type) {
    display: block;
    width: 100%;
    height: 10px;
    padding: 5px;
    margin-bottom: 10px;
    text-decoration: none;
    tansition: all 0.3s;
}

header .navigation_section .main_nav ul a:not(first-of-type):hover {
    background-color: blue;
    color: white;
}

.hero{
    width: 100vw;
}

.hero .hero_image {
    width: 100%;
}

.hero img{
    width: 100%;
    object-fit: cover;
}

.hero .messageandaction {
    width: 100%;
    padding: 32px;
    text-align: center;
}

.hero .messageandaction h2 {
    margin-bottom: 15px;
}

.portfolio {
    width: 100%;
    display: grid;
    gap: 15px;
}

.portfolio .work {
    width: 100%;
}

.portfolio .work img {
    width: 100%;
    object-fit: cover;
}

.portfolio .work .work_desc,
.portfolio .work .work_links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio .work .work_desc p {
    width: 40%;
    text-align: center;
} 

.portfolio .work .work_links {
    gap: 10px;
}

.contact {
    width: 100%;
    border-top: 1px solid black;
    margin-top: 15px;
    padding: 32px;
}

.contact .contact_message {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact .contact_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact .contact_form label,
.contact .contact_form input,
.contact .contact_form button {
    display: block;
}

.contact .contact_form label,
.contact .contact_form button {
    margin: 10px 0;
}

.contact .contact_form input,
.contact .contact_form button,
.contact .contact_form textarea {
    padding: 10px 20px;
    border-radius: 4px;
}

footer {
    width: 100%;
    border-top: 1px solid black;
    margin: 15px;
    padding: 32px;
    text-align: center;
}

@media (min-width: 768px) {
    .navigation_section .fa-bars {
        display: none;
    }
    header .navigation_section .main_nav {
        width: 500px;
        position: relative;
        top: 0;
        margin: -5px 0 0 -270px;
        background-color: transparent;
        z-index: 999;
        padding: 20px;
        display: block;
    }
    header .navigation_section .main_nav ul li:first-child {
        display: none;
    }
    header .navigation_section .main_nav ul {
        display: flex;
        gap: 10px;
    }
    .portfolio {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1000px) {
    .hero {
        margin-bottom: 430px;
    }
    .hero .hero_image {
        height: 500px;
        position: relative;
    }
    .hero .messageandaction {
        position: absolute;
        top: 60%;
        margin-left: -450px;
        color: white;
    }
    .hero .messageandaction h2 {
        font-size: 2.8rem;
    }
    .hero .messageandaction p {
        font-size: 1.3rem;
    }
    .hero .messageandaction a {
        display: inline-block;
        padding: 10px 20px;
        background-color: orange;
        color: orangered;
        border-radius: 4px;
        margin-top: 20px;
    }
    .portfolio .work .work_image img {
        height: 500px;
    }
}